.navlink {
	background-color: transparent;
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border-radius: 1000px;
	cursor: pointer;

	&:hover {
		background-color: var(--color-primary-25);
	}
}
